@import "tailwindcss";

:root {
  --background-gradient: linear-gradient(
    to bottom right,
    #4c4c4c 0%,
    #1e2122 25%,
    #1e2122 75%,
    #4c4c4c 100%
  );
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color-gray-100);
}

body {
  background-image: var(--background-gradient);
}
