@import 'tailwindcss';

:root {
  --background-gradient: linear-gradient(
    to bottom right,
    #4c4c4c 0%,
    #1e2122 25%,
    #1e2122 75%,
    #4c4c4c 100%
  );
}

@theme inline {
  --font-sans: var(--font-lato);
  --color-primary: var(--color-gray-100);
  --color-secondary: var(--color-gray-400);
  --color-dark: #1e2122;
  --color-accent: var(--color-blue-300);
  --height-full-screen: calc(100vh - 176px);
  --max-width-content: 1440px;
}

body {
  background-image: var(--background-gradient);
  color: var(--color-primary);
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animate-spin-reverse {
  animation: spin-reverse 1s linear infinite;
}

/* React Day Picker Custom Styling */
.rdp-today:not(.rdp-outside) {
  color: var(--color-accent) !important;
  font-weight: bold !important;
}

.rdp-selected .rdp-day_button {
  border: 2px solid var(--color-accent) !important;
}
