@import 'tailwindcss';

:root {
  --background-gradient: linear-gradient(
    to bottom right,
    #4c4c4c 0%,
    #1e2122 25%,
    #1e2122 75%,
    #4c4c4c 100%
  );
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--color-gray-100);
  --color-secondary: var(--color-gray-300);
  --color-dark: #1e2122;
  --height-full-screen: calc(100vh - 172px);
  --max-width-content: 1440px;
}

body {
  background-image: var(--background-gradient);
  color: var(--color-primary);
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.animate-spin-reverse {
  animation: spin-reverse 1s linear infinite;
}
